<% include ../partials/header %>


<h1 class="text-center display-4 post-results"><i class="fas fa-award"></i> Posted Results!</h1>

<h4 class="text-center life">DietGuru helped these customers get their life back!</h4>

<div class="container results-div">
    <div class="row text-center">
        <% findPic.forEach(function(pic){ %>
            <div class="col-sm-6 col-md-4">
                <a href="/diet/<%= pic._id %>"><img src="<%= pic.image %>"></a>
                <h4><%= pic.name %></h4>
            </div>
       <% }); %>
    </div>
</div>


<% include ../partials/footer %>