<% include ../partials/header %>


<div class="container section-1 text-center flipInX animated">
  <h1 class="text-center display-1"><i class="fas fa-apple-alt"></i>DietGuru</h1>
  <div class="row">
    <div class="col-sm-12">
      <img src="http://artoftall.com/wp-content/uploads/2016/05/diet-fruit-vegetable-love.jpg" alt="">
      <h2 id="happy"><i class="fas fa-smile"></i> Healthy is Happy!</h2>
      <div class="mobile-login">
        <% if(!currentUser){ %>
          <a href="/register"><button class="btn btn-success">Sign Up</button></a>
          <a href="/login"><button class="btn btn-success">Login</button></a>
        <% } else { %>
            <a href="/logout"><button class="btn btn-success">Logout</button></a>
        <% } %>
      </div>
    </div>
  </div>
</div>

<div class="section-2 text-center">
  <h1 class="display-5 text-center"><i class="fas fa-weight"></i> How It Works!</h1>
  <div class="steps">
    <h2>1. Choose a plan that fits you!</h2>
    <h2>2. Exercise!</h2>
    <h2>3. Eat Healthy!</h2>
    <h2>4. Thats it!</h2>
  </div>
</div>

<div class="section-3 text-center">
  <h1 class="display-5"><i class="fas fa-check-square"></i> Choose Your Plan!</h1>
  <div class="plans">
    <h2><i class="fas fa-star"></i> Starter Plan- $20/month </h2>
    <h2><i class="fas fa-star"></i><i class="fas fa-star"></i> Basic Plan- $40/month</h2>
    <h2><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> Gold Plan- $60/month</h2>
  </div>
</div>





<% include ../partials/footer %>

