<% pageTitle= "Post Results" %>
<% include ../partials/header %>

<div class="container post-container">
  <h1 class="results text-center display-4"><i class="fas fa-portrait"></i> Post your Results!</h1>
  <form action="/diet" method="POST">
    <div class="form-group">
      <input type="text" name="name" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="text" name="image" class="form-control" placeholder="Image of Results">
    </div>
    <button type="submit" class="btn btn-success btn-block">Submit</button>
  </form>
</div>




<% include ../partials/footer %>